@import url("https://fonts.googleapis.com/css?family=Nixie+One");
@import url("https://fonts.googleapis.com/css?family=League+Script");

.home-header,
.header {
  .logo {
    text-decoration: none;
    .sign {
      font-family: 'Nixie One', Helvetica, Arial, sans-serif;
      #fade {
        opacity: 0.8;
        color: #ebffff;
        -webkit-animation: fade 3s infinite alternate;
        -moz-animation: fade 3s infinite alternate;
        -o-animation: fade 3s infinite alternate;
        animation: fade 3s infinite alternate;
      }
      #trav {
        -webkit-animation: blink 0.01s infinite alternate;
        -moz-animation: blink 0.01s infinite alternate;
        -o-animation: blink 0.01s infinite alternate;
        animation: blink 0.01s infinite alternate;
      }
      .neon-blue {
        color: #ebffff;
      }
      .neon-purple {
        font-family: 'League Script', Helvetica, Arial, sans-serif;
        color: #ccf;
      }
    }

  }
}

.home-header {
  .sign {
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    font-size: 50px;
    padding: 40px 0;

    #title {
      font-size: 110px;
    }

    #fade {
      text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3), 0 0 15px #fff, 0 0 10px #38eeff, 0 0 50px #38eeff;
    }
    .neon-blue {
      margin: 0 auto;
      line-height: 1em;
      text-align: center;
      text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3), 0 0 15px #fff, 0 0 10px #38eeff, 0 0 50px #38eeff;
    }
    .neon-purple {
      font-size: 100px;
      margin: 0 auto;
      text-align: center;
      text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5), 0 0 20px #fff, 0 0 10px #7d26cd, 0 0 50px #7d26cd;
    }
  }
}

.header {
  .sign {
    overflow: hidden;
    font-size: $font-size-lg;
    .neon-blue {
      float: left;
    }
  }
}

@-moz-keyframes blink {
  70% {
    opacity: 0.7;
  }
}

@-webkit-keyframes blink {
  45% {
    opacity: 0.5;
  }
}

@-o-keyframes blink {
  70% {
    opacity: 0.7;
  }
}

@keyframes blink {
  70% {
    opacity: 0.7;
  }
}

@-moz-keyframes fade {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}

@-webkit-keyframes fade {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}

@-o-keyframes fade {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}

@keyframes fade {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}