.main-image-container {
  overflow: hidden;
  height: 40vh;
  position: relative;
  img {
    max-width: 100%;
    position: absolute;
    transform: translateY(-25%);
  }
}
.slider {
  padding-bottom: 50px;
  .slider-control-centerleft,
  .slider-control-centerright {
    display: none;
  }
  .slider-frame {
    .slider-list {
      height: 50vh !important;
      background: #343a40;
      .slider-slide {
        height: 50vh !important;
        img {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
  .slider-control-bottomcenter {
    bottom: -5px !important;
    li {
      button {
        color: white !important;
      }
    }
  }
}

.sub-images {
  display: flex;
  list-style: none;
  padding: 0;
  li {
    width: 33.33%;
    img {
      max-width: 100%;
    }
  }
}
.rating {
  .ratingStars {
    position: relative;
    overflow: hidden;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    &:before {
      position: absolute;
      font-family: 'bar-finder';
      display: block;
      content: '\e803 \e803 \e803 \e803 \e803';
      width: 150px;
    }
  }
}