.main-image-container {
  overflow: hidden;
  height: 40vh;
  position: relative;
  img {
    max-width: 100%;
    position: absolute;
    transform: translateY(-25%);
  }
}
.sub-images {
  display: flex;
  list-style: none;
  padding: 0;
  li {
    width: 33.33%;
    img {
      max-width: 100%;
    }
  }
}
.rating {
  .ratingStars {
    position: relative;
    overflow: hidden;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    &:before {
      position: absolute;
      font-family: 'bar-finder';
      display: block;
      content: '\e803 \e803 \e803 \e803 \e803';
      width: 150px;
    }
  }
}