.locations-list {
  .card {
    background: transparent;
    border-width: 0;
    border-radius: 0;

  }
  .card-divider {
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3), 0 0 15px #fff, 0 0 10px #38eeff, 0 0 50px #38eeff;
    margin-bottom: 40px;
    height: 1px;
    width: 100%;
    background: #edffff;
  }
}